---
import { getCollection, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Hero from "../../components/page/Hero.astro";
import Title from "../../components/page/Title.astro";
import Body from "../../components/page/Body.astro";
import PromiseMotif from "../../components/PromiseMotif.astro";
import Date from "../../components/page/Date.astro";
import PlayerIsland from "../../components/player/PlayerIsland.astro";
import SpotifyIframe from "../../components/player/SpotifyIframe.svelte"
import type { ImageInputFormat } from "astro";
import PostCategory from "../../components/blog/PostCategory.astro";
import PostTags from "../../components/blog/PostTags.astro";

export async function getStaticPaths() {
  const [posts, categories, tags] = await Promise.all([
    getCollection('blog', ({ data }) => !data.draft),
    getCollection('categories'),
    getCollection('tags'),
  ])

  const categoryMap = Object.fromEntries(categories.map(c => [c.id, c]))
  const tagMap = Object.fromEntries(tags.map(t => [t.id, t]))

  return posts.map((post) => ({
    params: { slug: post.id },
    props: {
      post,
      category: categoryMap[post.data.category] ?? null,
      tags: (post.data.tags ?? []).map(slug => tagMap[slug]).filter(Boolean),
    },
  }));
}

interface Props {
  post: {
    data: {
      hero: {
        image: {
          src: string;
          width: number;
          height: number;
          format: ImageInputFormat;
        };
        alt?: string;
        fit: "cover" | "contain";
        overlay?: {
          color: string;
          opacity?: number;
          mix?:
            | "none"
            | "color"
            | "screen"
            | "lighten"
            | "color-dodge"
            | "color-burn"
            | "soft-light"
            | "difference"
            | "exclusion"
            | "luminosity";
        };
        attribution?: {
          name: string;
          url: string;
        };
      }
      title: string;
      titleSettings: {
        type: "bars-below-text" | "bars-behind-text";
        size: "normal" | "large";
      };
      publicationDate: Date;
      excerpt: string
    },
    body: string
  }
  category: {
    id: string;
    data: {
      name: string;
    }
  }
  tags: {
    id: string;
    data: {
      name: string;
    }
  }[]
}

const { post, category, tags } = Astro.props;
const { Content } = await render(post);

const { hero, title, titleSettings, publicationDate } = post.data;

const hasPlayerComponents = /\{%\s*Player\b/.test(post.body);
---

<BaseLayout
  pageTitle={post.data.title}
  pageExcerpt={post.data?.excerpt}
  opengraph={{
    type: 'article',
    image: hero.image,
    publishedTime: publicationDate,
    article: category.data.name,
    tags: tags.map(({ id }) => id ),
  }}
>
  <Hero {...hero} />
  <Title {...{ title, titleSettings }} />
  <Body>
    <Date date={publicationDate} />
    <Content
      component={{
        PlayerIsland,
      }}
    />
  </Body>
  <PromiseMotif />
  <PostCategory {...category}/>
  <PostTags {tags}/>
  {
    hasPlayerComponents && (
      <script
        src="https://open.spotify.com/embed/iframe-api/v1"
        async
        is:inline
      />
      <SpotifyIframe client:load/>
    )
  }
</BaseLayout>
