body:after {
    // background-color: red !important;
    content: "";
    background-image: url('/img/forest-backdrop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.25;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}

a:hover {
    color: #ffffff;
}

#scrollToTop {
    position: fixed;
    display: none;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #212020;
    cursor: pointer;

    .fi.flaticon-up {
        font-size: 1.25rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%);
    }
}

hr {
    height: 1px !important;
    background-color: #707677 !important;
}

#about.posts {
    .content {
        align-items: start;

        img {
            height: 3rem;

            @media #{$media-size-phone} {
                height: 2rem;
            }
        }
    }

    #credits {
        img {
            height: 20px;
        }

        ul li > * {
            display: inline-block
        }

        ul li i.fi,
        ul li img {
            margin: .25rem;
        }
    }
}

#home {
    padding: 2rem;

    h1, h2, h3, h4, h5, h6 {
        display: block !important;
    }

    #logo {
        width: 15rem !important;
        margin: 0 auto;
    }

    #home-feed {
        display: flex;

        hr {
            display: none;
        }

        #featured-post, #latest-finds {
            padding: 0 2rem;
            width: 50%;

            h1, h2, h3, h4, h5, h6 {
                margin: 1rem;
            }
        }

        @media #{$media-size-tablet} {
            display: block;

            #featured-post {
                border-right: 0;
                margin-bottom: 1.5rem;
            }

            #featured-post, #latest-finds {
                padding: 0;
                width: 100%;
            }
        }
    }

    #featured-post {

        a {
            display: block;
            text-decoration: none;
            background-color: darken(#292a2d, 5%);
            border-bottom: 1px dashed #46484d;
            padding: 0 0 1rem;
            transform: scale(1.00);
            transition: transform .10s ease-in-out;
            cursor: pointer;

            &:hover {
                transform: scale(1.01);
                z-index: 999;
                transition: transform .10s ease-in-out;
    
                a {
                    color: #fff;
                }
            }
        }

        #featured-post-container {
            text-align: left;

            .post-banner {
                margin: 0 0 1rem;
            }

            .post-stats {
                display: flex;
                justify-content: space-between;

                .post-title-home {
                    margin: 0;
                }
            }

            .post-stats,
            .post-category {
                padding: 0 1rem;
            }
        }
    }

    #latest-finds {
        width: 100%;
        margin: 0 auto;

        .entry-container {
            margin: 0 !important;
            height: 80px;
        }

        iframe {
            height: 80px;
            width: 100%;
        }

    }
}

main.posts {
    .post-title {
        margin: 0;
    }

    .post-item {
        margin-bottom: 1rem;
        background-color: darken(#292a2d, 3%);
        transform: scale(1.00);
        transition: transform .10s ease-in-out;
        cursor: pointer;

        a {
            display: block;
            padding: 0 0 1rem;

            img {
                display: block;
                width: 100%;
                margin: 0 0 1rem;
            }

            .post-stats {
                display: flex;
                justify-content: space-between;
            }

            .post-stats,
            .post-category {
                padding: 0 1rem;
            }

        }

        &:hover {
            transform: scale(1.01);
            z-index: 999;
            transition: transform .10s ease-in-out;

            a {
                color: #fff;
            }
        }
    }
}

.post {
    article {
        .banner-image {
            width: 100%
        }
    }

    .post-content {
        iframe {
            width: 100%;

            &.single-track {
                height: 80px;
            }
        }

        hr {
            margin: 2rem 0;
        }

        .signature {
            padding-bottom: 2rem;

            img {
                height: 3rem;
                margin: 0 auto;

                @media #{$media-size-phone} {
                    height: 2rem;
                }
            }
        }
    }
}