a:hover {
    color: #ffffff;
}

#scrollToTop {
    position: fixed;
    display: none;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #212020;
    cursor: pointer;

    .fi.flaticon-up {
        font-size: 1.25rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%);
    }
}

hr {
    height: 1px !important;
}

#about.posts {
    .content {
        align-items: start;

        img {
            height: 3rem;

            @media #{$media-size-phone} {
                height: 2rem;
            }
        }
    }

    #credits {
        img {
            height: 20px;
            // padding-right: 5px;
        }

        ul li > * {
            display: inline-block
        }

        ul li i.fi,
        ul li img {
            margin: .25rem;
        }
    }
}

#home {
    padding: 2rem;

    h1, h2, h3, h4, h5, h6 {
        display: block !important;
    }

    #logo {
        width: 15rem !important;
        margin: 0 auto;
    }

    #home-feed {
        display: flex;

        hr {
            display: none;
        }

        #monthly-summary {
            border-right: 1px solid #46484d;
        }

        #monthly-summary, #latest-finds {
            padding: 0 2rem;
            width: 50%;

            h1, h2, h3, h4, h5, h6 {
                margin: 1rem;
            }
        }

        @media #{$media-size-tablet} {
            display: block;

            hr {
                display: block;
            }

            #monthly-summary {
                border-right: 0;
                margin-bottom: 1.5rem;
            }

            #monthly-summary, #latest-finds {
                padding: 0;
                width: 100%;
            }
        }
    }

    #monthly-summary {

        a {
            text-decoration: none;
        }

        #monthly-summary-container {
            border: 1px solid #46484d;
            padding: 1rem;

            h1 {
                margin: 0;
            }
            
            &:hover {
                background-color: #46484d;
            }

            img {
                margin: 0 1rem;
                width: calc(100% - 2rem);
            }
        }
    }

    #latest-finds {
        width: 100%;
        margin: 0 auto;

        .entry-container {
            margin: 0 !important;
            height: 80px;
        }

        iframe {
            height: 80px;
            width: 100%;
        }

    }
}

main.posts {
    .post-title {
        margin: 0;
    }

    .post-item {
        // border: 1px solid red;
        margin-bottom: 1rem;

        a {
            display: block;
            padding: 0 0 1rem;

            img {
                display: block;
                width: 100%;
                // padding: 0 0 1rem;
                margin: 0 0 1rem;
            }

            .post-stats {
                display: flex;
                justify-content: space-between;
            }

        }

        &:hover {
            transform: scale(1.01);
            z-index: 999;
        }
    }
}

.post {
    article {
        .banner-image {
            width: 100%
        }
    }

    .post-content {
        iframe {
            width: 100%;

            &.single-track {
                height: 80px;
            }
        }

        hr {
            margin: 2rem 0;
        }

        .signature {
            padding-bottom: 2rem;

            img {
                height: 3rem;
                margin: 0 auto;

                @media #{$media-size-phone} {
                    height: 2rem;
                }
            }
        }
    }
}