.aboutTitle {
  -webkit-text-stroke: 5px theme('colors.white');
  text-stroke: 5px theme('colors.white');

  @screen lg {
    -webkit-text-stroke: 8px theme('colors.white');
    text-stroke: 8px theme('colors.white');
  }
}
