.blogPostTitle {
  -webkit-text-stroke: 2px theme('colors.white');
  text-stroke: 2px theme('colors.white');
}

.blogPostSubtitle {
  -webkit-text-stroke: 1px theme('colors.white');
  text-stroke: 1px theme('colors.white');
}

@screen lg {
  .blogPostTitle {
    -webkit-text-stroke: 3px theme('colors.white');
    text-stroke: 3px theme('colors.white');
  }
}

@media (prefers-color-scheme: dark) {
  .blogPostTitle,
  .blogPostSubtitle {
    color: theme('colors.black');
  }
}
