@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Candy Beans';
  src: url('/fonts/candy-beans.otf') format('opentype');
}

:root {
  --color-sand: #FAF4EB;
  --color-yellow: #FFDC8B;
  --color-black: #1A1D27;
  --color-blue: #1D76AA;
  --color-purple: #8019B3;
  --font-inter: 'Inter', sans-serif;
  --font-candy: 'Candy Beans', sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--font-inter);
}

html {
  background-color: var(--color-sand);
  color: var(--color-black);
}

body {
  margin: 0;
  width: 100%;
}

main {
  width: 100%;
}

.content-container {
  width: 100%;
  max-width: 954px;
  padding: 0 2rem;
  margin: 0 auto;
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

a {
  color: var(--color-blue);
  font-weight: bold;
}

a:visited {
  color: var(--color-purple);
}