@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Candy Beans';
  src: url('/fonts/candy-beans.otf') format('opentype');
}

:root {
  /* Theme colors */
  --color-yellow: #FFDC8B;

  /* Misc colors */
  --color-white: #FFFFFF;
  --color-sand: #FAF4EB;
  --color-black: #1A1D27;
  --color-red: #D23232;
  --color-green: #2D7B42;
  --color-blue: #1D76AA;
  --color-purple: #8019B3;
  --color-neon-green: #33D17A;

  /* Fonts */
  --font-inter: 'Inter', sans-serif;
  --font-candy: 'Candy Beans', sans-serif;

  /* Misc. */
  --box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.08);

  /* Primaries */
  --color-text: var(--color-black);
  --color-background: var(--color-sand);
  --color-main: var(--color-yellow);
  --player-background: var(--color-white);
  --outline-color: var(--color-black);
  --color-banner-background: var(--color-black);
  --color-banner-text: var(--color-neon-green);

  /* Primary Button */
  --btn-primary-background: var(--color-yellow);
  --btn-primary-text: var(--color-black);
  --btn-primary-background-hover: var(--color-black);
  --btn-primary-text-hover: var(--color-white);

  /* Secondary Button */
  --btn-alt-background: var(--color-black);
  --btn-alt-text: var(--color-white);
  --btn-alt-background-hover: var(--color-white);
  --btn-alt-text-hover: var(--color-black);
}

* {
  box-sizing: border-box;
  font-family: var(--font-inter);
}

html {
  background-color: var(--color-sand);
  color: var(--color-black);
}

body {
  margin: 0;
  width: 100%;
}

main {
  width: 100%;
}

.content-container {
  width: 100%;
  max-width: 954px;
  padding: 0 2rem;
  margin: 0 auto;
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

a {
  color: var(--color-blue);
  font-weight: bold;
  border-radius: 5px;
}

a:visited {
  color: var(--color-purple);
}

a:focus {
  outline-offset: 5px;
  outline: 4px solid var(--color-black);
}