.progressTrack {
  -webkit-appearance: none;

  &::-webkit-progress-bar {
    @apply rounded-xl;
    background-color: #989898;
    height: 6px;
  }

  &::-webkit-progress-value {
    @apply bg-black;
    @apply rounded-xl;
  }
}

.volume {
  -webkit-appearance: none;
  --volume-level: 50%;

  &::-webkit-slider-runnable-track {
    background: linear-gradient(
      to right,
      theme('colors.blue') var(--volume-level),
      theme('colors.blue' / 40%) var(--volume-level)
    );
    height: 6px;
    border-radius: 4px;
  }

  &::-moz-range-track {
    @apply bg-blue;
    height: 6px;
    border-radius: 4px;
  }

  /* Chrome, Safari, Opera, and Edge */
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  /* Firefox */
  &::-moz-range-thumb {
    border: none;
  }

  &::-webkit-slider-thumb {
    @apply bg-blue;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    @apply border-blue;
    border-width: 2px;
    border-style: solid;
    margin-top: -2px;
  }

  &::-moz-range-thumb {
    @apply bg-blue;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    @apply border-blue;
    border-width: 2px;
    border-style: solid;
  }

  &:hover {
    &::-webkit-slider-thumb,
    &::-moz-range-thumb {
      @apply bg-white;
      width: 13px;
      height: 13px;
      margin-left: -10px;
    }
  }
}
