.lineBreakWhite {
  @apply border-white;
}

.lineBreakYellow {
  @apply border-yellow;
}

.lineBreak {
  @apply relative;
  margin: 5rem 0;

  .lineBreakTop {
    @apply bg-yellow;
    border-bottom: 16px solid $white;
    min-height: 50px;
    height: auto;
  }

  .lineBreakBottom {
    @apply bg-white;
    border-top: 16px solid $yellow;;
    min-height: 50px;
    height: auto;
  }

  .lineBreakChildren {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}