---
import ContentContainer from "@components/common/ContentContainer.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Page Not Found">
  <ContentContainer>
    <div class="content-heading">
      <h1>404: Not Found</h1>
      <p>Sorry, this page doesn't exist.</p>
      <a href="/" class="homepage-btn">Go to homepage</a>
      <img id="sprite" src="" alt="" />
    </div>
  </ContentContainer>
</BaseLayout>

<style lang="scss">
  .content-heading {
    text-align: center;
  }

  #sprite {
    display: none;
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
    margin: 40px auto 0;
    object-fit: contain;
  }

  h1 {
    font-size: 60px;
  }

  .homepage-btn {
    background-color: var(--btn-primary-background);
    color: var(--btn-primary-text);
    padding: 7px 23px;
    font-size: 20px;
    font-weight: bold;
    border-radius: var(--button-radius);
    cursor: pointer;
    display: inline-block;
    text-decoration: none;

    &:hover {
      background-color: var(--btn-primary-background-hover);
      color: var(--btn-primary-text-hover);
    }
  }
</style>

<script>
  const sprite: HTMLImageElement | null = document.querySelector("#sprite");

  const spriteSources = [
    "lain_behind.gif",
    "lain_eyes.gif",
    "madotsuki_chair.gif",
    "madotsuki_walking.gif",
    "madotsuki_playing.gif",
  ];

  const spriteSourcesLength = spriteSources.length;

  if (sprite) {
    const spriteSourceIndex = Math.floor(Math.random() * spriteSourcesLength);

    sprite?.setAttribute("src", `/assets/${spriteSources[spriteSourceIndex]}`);
    sprite.style.display = "block";
  }
</script>
