---
import ContactForm from "@components/ContactForm.svelte";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Contact">
  <div class="content-container">
    <div class="contact-heading">
      <h1>Contact</h1>
      <p>Uh, surely something's on your mind if you're here?</p>
    </div>

    <ContactForm client:load accessKey={import.meta.env.PUBLIC_WEB3_KEY} />
  </div>
</BaseLayout>

<style lang="scss">
  .contact-heading h1,
  .contact-heading p {
    text-align: center;
  }

  h1 {
    font-size: 60px;
  }
</style>
