---
import { getEntry } from "astro:content";
import PostCard from "../components/blog/PostCard.astro";
import PostCardGrid from "../components/blog/PostCardGrid.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import type { ImageInputFormat } from "astro";
const pageTitle = "Homepage";

type Heading = {
  discriminant: "heading";
  value: {
    text?: string;
    type: "h1" | "h2" | "h3" | "h4" | "h5" | "h6";
  };
};

type PostCardGrid = {
  discriminant: "postCardGrid";
  value: {
    posts: string[];
    desktopColumns?: number;
    mobileColumns?: number;
  };
};

type Block = Heading | PostCardGrid;

const homepage = await getEntry("homepage", "index");

const { blocks }: { blocks: Block[] } = homepage?.data;
---

<BaseLayout pageTitle={pageTitle}>
  <div class="content-container">
    {
      blocks.map((block) => {
        if (block.discriminant === "postCardGrid") {
          return (
            <PostCardGrid
              mobileColumns={block.value.mobileColumns ?? 1}
              desktopColumns={block.value.desktopColumns ?? 1}
            >
              {block.value.posts.map(async (postId) => {
                const post = await getEntry("blog", postId);
                return <PostCard {...post} />;
              })}
            </PostCardGrid>
          );
        }

        if (block.discriminant === "heading") {
          const HeadingTag = block.value.type;

          return <HeadingTag>{block.value.text}</HeadingTag>;
        }
      })
    }
  </div>
</BaseLayout>

<style>
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-candy);
    text-align: center;
    font-weight: 400;
  }
</style>
