---
import ContentContainer from "@components/common/ContentContainer.astro";
import type { CollectionEntry } from "astro:content";

interface Props extends CollectionEntry<"categories"> {}

const {
  data: { name },
} = Astro.props;
---

<ContentContainer>
  <p aria-label="Category">
    &bull; {name} &bull;
  </p>
</ContentContainer>

<style>
  p {
    text-align: center;
  }
</style>
