<section>
  <slot />
</section>

<style lang="scss">
  html.dark {
    section :global(blockquote) {
      border-left-color: var(--color-yellow) !important;
    }
  }

  html.comic {
    section :global(article > p > img) {
      border: 3px solid black;
    }
  }

  section {
    padding: 32px 48px;
    width: 100%;
    max-width: 954px;
    margin: 0 auto;
    color: var(--color-text);
  }

  section :global(*) {
    font-family: var(--font-inter);
    font-size: 16px;
    line-height: 1.75;
    word-break: normal;
    overflow-wrap: break-word;
  }

  section :global(h1, h2, h3, h4, h5, h6) {
    // font-family: var(--font-candy) !important;
    font-weight: bold;
  }

  section :global(h1) {
    font-size: 2em;
  }

  section :global(h2) {
    font-size: 1.5em;
  }

  section :global(h3) {
    font-size: 1.3em;
  }

  section :global(h4) {
    font-size: 1em;
  }

  section :global(h5) {
    font-size: 0.8em;
  }

  section :global(h6) {
    font-size: 0.7em;
  }

  section :global(table) {
    // border: 1px solid var(--color-black);
    border-collapse: collapse;
  }

  section :global(td, th) {
    border: 1px solid var(--color-text);
    padding: 10px;
  }

  section :global(.astro-code) {
    padding: 10px 15px;
    border-radius: var(--element-radius);
  }

  section :global(blockquote) {
    border-left: 3px solid var(--color-text);
    padding-left: 20px;
    margin-left: 0;
  }

  @include screen("md") {
    section :global(h1) {
      font-size: 2.8em;
    }

    section :global(h2) {
      font-size: 2em;
    }

    section :global(h3) {
      font-size: 1.6em;
    }

    section :global(h4) {
      font-size: 1.2em;
    }

    section :global(h5) {
      font-size: 0.9em;
    }

    section :global(h6) {
      font-size: 0.75em;
    }
  }
</style>
