---
export interface Props {
  title: string;
  titleSettings: {
    type: "bars-below-text" | "bars-behind-text";
    size: "normal" | "large";
  };
  subtitle?: string;
}

const {
  title,
  titleSettings: { type, size },
  subtitle,
} = Astro.props;
---

{
  title && (
    <div class={`title ${type}`}>
      <div class="title--container">
        <h1 class={size}>{title}</h1>
        {subtitle && <h2>{subtitle}</h2>}
      </div>
      <div class="title--bar">
        <div class="title--bar-one" />
        <div class="title--bar-two" />
      </div>
    </div>
  )
}

<style lang="scss">
  .title {
    position: relative;

    &--container {
      background-color: var(--color-main);
      padding: 45px 48px;

      h1,
      h2 {
        text-align: center;
        max-width: 1024px;
        margin: 0 auto;
        line-height: 1;
        -webkit-text-stroke-color: var(--color-stroke);
      }

      h2 {
        margin-top: 20px;
      }

      h1 {
        &.normal {
          font-size: 36px;
          -webkit-text-stroke-width: 2px;

          & ~ h2 {
            font-size: 20px;
            -webkit-text-stroke-width: 2px;
          }
        }

        &.large {
          font-size: 96px;
          -webkit-text-stroke-width: 5px;

          & ~ h2 {
            font-size: 80px;
            -webkit-text-stroke-width: 5px;
          }
        }

        @include screen("lg") {
          &.normal {
            font-size: 60px;
            -webkit-text-stroke-width: 3px;

            & ~ h2 {
              font-size: 44px;
              -webkit-text-stroke-width: 3px;
            }
          }

          &.large {
            font-size: 128px;
            -webkit-text-stroke-width: 8px;

            & ~ h2 {
              font-size: 112px;
              -webkit-text-stroke-width: 8px;
            }
          }
        }
      }
    }

    &--bar {
      &-one,
      &-two {
        height: 16px;
      }

      &-one {
        background-color: var(--color-background);
      }

      &-two {
        background-color: var(--color-main);
      }
    }

    &.bars-behind-text {
      padding-bottom: 46px;

      .title--container {
        position: relative;
        padding: 46px 0;

        h1 {
          display: block;
          position: absolute;
          top: 80px;
          width: 100%;
          left: 50%;
          transform: translateX(-50%);
          padding: 0 48px;

          &.normal {
            top: 90px;
          }

          &.large {
            top: 60px;
          }

          @include screen("lg") {
            &.normal {
              top: 77px;
            }

            &.large {
              top: 40px;
            }
          }
        }
      }
    }
  }
</style>
