{{ define "main" }}
    <main id="home" aria-role="main">
        <img id="logo" src="/img/AMENDS-white.png" alt="Amends Logo">

        {{- with .Site.Params.homeSubtitle }}
            <p>{{.}}</p>
        {{- end }}

        {{- with .Site.Params.social }}
            <div>
                {{ partial "social-icons.html" . }}
            </div>
        {{- end }}

        <hr/>
        <div id="home-feed">

            {{ range sort .Site.Pages }}
                {{ if in .Params.category "monthly_summary"}}
                    <div id="monthly-summary">
                        <h3>Monthly Summary</h3>
                        <a href="{{ .Permalink }}">
                            <div id="monthly-summary-container">
                                <h1><i>{{ .Params.title }}</i></h1>    
                                    {{ if .Params.banner_image }}
                                        <small>Click to go to post.</small>
                                        <img src="{{ .Params.banner_image }}">
                                    {{ else }}
                                        Go To Post
                                    {{ end }}
                                <small>
                                    Post Date: 
                                    {{ if .Site.Params.dateformNumTime }}
                                        {{ dateFormat .Site.Params.dateformNumTime .Date.Local }}
                                    {{ else }}
                                        {{ dateFormat "2006-01-02 10:04 -0700" .Date.Local }}
                                    {{ end }}
                                </small>
                            </div>
                        </a>
                    </div>
                    <hr/>
                {{ end }}
            {{ end }}
            
            {{ if .Params.latest_finds }}
                <div id="latest-finds">
                    <h3>Latest Finds</h3>
                    <div id="latest-finds-table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Artist</th>
                                    <th>Album [Year]</th>
                                    <th>Links</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{ with .Params }}
                                    {{ range .latest_finds }}
                                        <tr>
                                            <td>{{ .entry.title }}</td>
                                            <td>{{ .entry.artist }}</td>
                                            <td>{{ .entry.album }} [{{ .entry.year }}]</td>
                                            <td>
                                                {{ range .entry.links }}
                                                    <a href="{{ .link }}" target="_blank" title="{{ .type | humanize }}">
                                                        <i class="fi flaticon-{{ .type }}"></i>
                                                    </a>
                                                {{ end }}
                                            </td> 
                                        </tr>
                                    {{ end }}
                                {{ end }}
                            </tbody>
                        </table>
                    </div>
                </div>
            {{ end }}
        </div>
    </main>
{{ end }}
