---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class={className}>
  <slot />
</div>

<style>
  div {
    width: 100%;
    max-width: 954px;
    padding: 0 2rem;
    margin: 0 auto;
  }
</style>
