---
import { Image } from "astro:assets";
import Logo from "./Logo.astro";
import Social from "./Social.astro";

const socials: { url: string; label: string; icon: string }[] = [
  { url: "https://soundcloud.com", label: "Soundcloud", icon: "soundcloud" },
  { url: "https://github.com", label: "GitHub", icon: "github" },
  { url: "https://spotify.com", label: "Spotify", icon: "spotify" },
];
---

<footer>
  <a href="/" class="logo-link">
    <Logo width="166" height="30" loading="lazy" />
  </a>
  <p><i>Repairing the world's cultural palate, one post at a time.</i></p>
  <ul>
    {
      socials.map((social) => (
        <li>
          <a href={social.url} title={social.label} target="_blank">
            <Image
              src={`/icons/${social.icon}.png`}
              alt=""
              aria-hidden="true"
              loading="lazy"
              width="20"
              height="20"
            />
            <span class="sr-only">{social.label}</span>
          </a>
        </li>
      ))
    }
  </ul>
</footer>

<style lang="scss">
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 3px solid black;
    margin: 32px 32px 0;
    padding: 47px 0;

    .logo-link {
      line-height: 1;
    }

    p {
      font-size: 12px !important;
    }

    ul {
      list-style: none;
      display: flex;
      background-color: #ffffff;
      border-radius: 20px;
      padding: 6px;
      gap: 16px;

      li {
        a {
          display: block;
          width: 20px;
          height: 20px;

          img {
            height: 100%;
            width: auto;
          }
        }
      }
    }
  }
</style>
